.selfMessageContainer {
    background: #ECEBEB;
    border-radius: 20px;
    min-width: 50px;
    max-width: 300px;
    margin-left: auto;
}
.otherMessageContainer {
    min-width: 50px;
    max-width: 300px;
    background: white;
    border-radius: 20px;
    border: 2px solid #ECEBEB;
}
.selfMessage {
    word-wrap: break-word;
    color: black;
    font-family: Abel;
    font-size: 20px;
    margin: 5px;
    padding: 10px 10px;
    line-height: 20px;
    overflow-wrap: break-word;
}

.otherMessage {
    word-wrap: break-word;
    color: black;
    font-family: Abel;
    font-size: 20px;
    margin: 5px;
    padding: 10px 10px;
    line-height: 20px;
    overflow-wrap: break-word;
}
.chatPage {
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    height: 80vh;
}
.sender {
    margin-top: 18px;
    font-family: Abel;
    font-size: 15px;
    margin-bottom: 1px;
}
.time {
    font-family: Abel;
    font-size: 12px;
    margin: 2px;
}
.selfTime {
    margin: 2px;
    font-family: Abel;
    font-size: 12px;
    text-align: end;
}
.inputBlock {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    width: 80%;
    font-size: 20px;
    display: flex;
    box-sizing: border-box;
    font-family: 'Abel';
    display: flex;
    border: 1px solid #818182;
    border-radius: 30px;
}
.btn {
    cursor: pointer;
    position: absolute;
    left: 90%;
    font-family: Abel;
    font-size: 16px;
    margin-top: -36px;
    background: #8A9199;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
}
.footer {
    border: 2px solid #ECEBEB;
}
.actions {
    cursor: pointer;
    margin-left: 10px;
    font-family: Abel;
    color: cornflowerblue;
    font-size: 12px;
    text-align: end;
}
.actionsContainer {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}